In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv(r"C:\Users\sumit\OneDrive\Desktop\sample_weather.txt")

In [5]:
df.head()

         DATE  TEMP  DEWP  WDSP
0  2020-01-01  26.1  22.4  19.0
1  2020-01-02  27.2  24.3  15.2
2  2020-01-03  25.1  20.9   8.2
3  2020-01-04  37.1  22.1  15.1
4  2020-01-05  29.0  25.8   9.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    100 non-null    object
 1   TEMP    100 non-null    float64
 2   DEWP    100 non-null    float64
 3   WDSP    100 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.3+ KB

In [9]:
df.describe()

             TEMP       DEWP        WDSP
count  100.000000  100.00000  100.000000
mean    32.654000   25.16600   12.508000
std      3.972721    2.93055    4.363639
min     25.100000   20.10000    5.100000
25%     29.600000   22.77500    9.200000
50%     32.400000   25.55000   12.850000
75%     36.325000   27.62500   16.375000
max     39.800000   30.00000   19.900000

In [11]:
df.columns

Index(['DATE', 'TEMP', 'DEWP', 'WDSP'], dtype='object')

In [13]:
df["DATE"]=pd.to_datetime(df['DATE'])

In [15]:
df

         DATE  TEMP  DEWP  WDSP
0  2020-01-01  26.1  22.4  19.0
1  2020-01-02  27.2  24.3  15.2
2  2020-01-03  25.1  20.9   8.2
3  2020-01-04  37.1  22.1  15.1
4  2020-01-05  29.0  25.8   9.2
..        ...   ...   ...   ...
95 2020-04-05  35.6  27.7  11.1
96 2020-04-06  34.3  27.6   6.3
97 2020-04-07  30.7  25.0   9.9
98 2020-04-08  39.0  24.5   6.5
99 2020-04-09  37.9  29.1  11.2

[100 rows x 4 columns]

In [17]:
df["Year"]=df["DATE"].dt.year

In [19]:
df['month']=df['DATE'].dt.month

In [21]:
avg_wind_month=pd.DataFrame(df.groupby("month")['WDSP'].mean())

In [23]:
avg_wind_month

            WDSP
month
1      13.629032
2      13.017241
3      11.835484
4       9.322222

In [25]:
avg_wind_year=pd.DataFrame(df.groupby("Year")["WDSP"].mean())

In [27]:
avg_wind_year

        WDSP
Year
2020  12.508

In [29]:
avg_temp_month=pd.DataFrame(df.groupby("month")["TEMP"].mean())

In [31]:
avg_temp_month

            TEMP
month
1      32.525806
2      32.251724
3      32.838710
4      33.755556

In [33]:
avg_temp_year=pd.DataFrame(df.groupby('Year')["TEMP"].mean())

In [35]:
avg_temp_year

        TEMP
Year
2020  32.654

In [37]:
avg_dew_year=pd.DataFrame(df.groupby("Year")["DEWP"].mean())

In [39]:
avg_dew_year

        DEWP
Year
2020  25.166

In [41]:
avg_dew_month=pd.DataFrame(df.groupby('month')['DEWP'].mean())

In [43]:
avg_dew_month

            DEWP
month
1      24.925806
2      24.634483
3      25.506452
4      26.533333